rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /serialnumber/{serialnumber} {
      allow get: if true
    }
    match /package/{packageId} {
      allow get: if true
    }
    match /single/info/public/{singleId} {
      allow get: if true
    }
  }
}